@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
  --light: 212, 89%, 57%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
    --light: 212, 89%, 57%;
  }
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}
